/* Variables */
/* Globals */
body {
  font-family: "Baskervville", serif;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.section-title {
  font-size: 36px;
  padding: 0 auto;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  font-size: 20px;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 100px;
}

/* navigation */
.navigation {
  background-color: transparent;
  padding: 0 auto;
  height: 100px;
}

.navigation .container {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.navigation .container h2 {
  font-family: "Great Vibes", cursive;
  color: gold;
  font-size: 32px;
}

.navigation .container ul {
  list-style-type: none;
}

.navigation .container ul li {
  display: inline;
}

.navigation .container ul li a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

/* splash */
.splash {
  position: relative;
  width: 100%;
  height: 100%;
}

.splash .splash-image {
  position: absolute;
  top: -108px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.splash .splash-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.splash .splash-inner {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.splash .splash-inner .page-title {
  font-size: 56px;
  font-weight: 4000;
}

.splash .splash-inner .page-subtitle {
  font-size: 36px;
}

.splash .splash-inner button {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: gold;
  font-size: 16px;
  font-weight: 2000;
  outline: none;
}

/* services */
.services {
  margin-bottom: 100px;
  text-align: center;
}

.services i {
  font-size: 48px;
  color: gold;
}

/* portfolio */
.portfolio {
  padding: 100px 0;
  background-color: #ebe9eb;
  text-align: center;
}

.portfolio .row {
  padding-bottom: 30px;
}

.portfolio .row .card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 1;
      flex: 1 1;
}

.portfolio .row .card .card-image {
  height: 300px;
  width: 100%;
}

.portfolio .row .card .card-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .row .card .card-body {
  background-color: #fff;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

/* footer */
.footer {
  height: 100px;
  padding: 50px;
}

.footer .container {
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}

.footer .container .icons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer .container .icons ul {
  list-style-type: none;
}

.footer .container .icons ul li {
  font-size: 32px;
  display: inline;
  padding-left: 5px;
}

.footer .container .icons ul li a {
  color: black;
}
/*# sourceMappingURL=style.css.map */