/* Variables */
$main-font: "Baskervville", serif;
$golden-font: "Great Vibes", cursive;

/* Globals */

body {
  font-family: $main-font;
  margin: 0 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 36px;
  padding: 0 auto;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  font-size: 20px;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 100px;
}

/* navigation */
.navigation {
  background-color: transparent;
  padding: 0 auto;
  height: 100px;
  .container-fluid {
    .row {
      justify-content: space-around;
      h2 {
        font-family: $golden-font;
        color: gold;
        font-size: 24px;
      }
      ul {
        list-style-type: none;
        li {
          display: inline;
          a {
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

/* splash */
.splash {
  position: relative;
  width: 100%;
  height: 100%;
  .splash-image {
    position: absolute;
    top: -108px;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .splash-inner {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -108;
    text-align: center;
    .page-title {
      font-size: 56px;
      font-weight: 4000;
    }
    .page-subtitle {
      font-size: 36px;
    }
    button {
      width: 200px;
      height: 50px;
      color: white;
      background-color: black;
      font-size: 16px;
      font-weight: 400;
      outline: none;
      border-radius: 5%;
      border: none;
      cursor: pointer;
      transition: all 1s;
      background-size: 300%;
      background-position: 100% 0;
      background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
      &:hover {
        background-position: 0 100%;
        color: black;
      }
    }
  }
}

/* services */
.services {
  margin-bottom: 100px;
  text-align: center;
  i {
    font-size: 48px;
    color: gold;
  }
}

/* portfolio */
.portfolio {
  padding: 100px 0;
  background-color: #ebe9eb;
  text-align: center;
  .row {
    padding-bottom: 30px;
    .card {
      display: flex;
      flex-direction: column;
      flex: 1 1;
      .card-image {
        height: 300px;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: down-scale;
        }
      }
      .card-body {
        background-color: #fff;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px;
      }
    }
  }
}

/* footer */
.footer {
  height: 100px;
  padding: 50px;
  .container-fluid {
    justify-content: space-between;
    position: relative;
    .icons {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      ul {
        list-style-type: none;
        li {
          font-size: 32px;
          display: inline;
          padding-left: 5px;
          a {
            color: black;
          }
        }
      }
    }
  }
}

/* Media */
@media (max-width: 768px) {
  .navigation {
    .container-fluid {
      .row {
        justify-content: space-evenly;
        flex-direction: row;
        h2 {
          font-size: 12px;
          text-align: center;
        }
        ul {
          li {
            a {
              font-size: 10px;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
  .splash {
    .splash-inner {
      .page-subtitle {
        font-size: 18px;
        padding: 20px 0;
      }
      .page-title {
        font-size: 24px;
        padding-bottom: 20px;
      }
      button {
        width: 100px;
        height: 35px;
        font-size: 12px;
      }
    }
  }
  .portfolio {
    .card {
      padding: 5px 0;
    }
  }
  .footer {
    height: 50px;
    padding: 10px;
    .container-fluid {
      flex-direction: column;
      align-content: center;
      .row.icons {
        i {
          font-size: 16px;
          order: -1;
        }
      }
      .row.copy {
        justify-content: center;
        .copyright {
          margin-bottom: 2px;
          text-align: center;
        }
      }
    }
  }
}
